
body{ font-family: 'Roboto', sans-serif;
}

.bakg{
    background-image: url(../imges/Dark-Woods-Banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}